<!-- <header>
  <h1>Audio Sockets Testing</h1>
</header> -->

<div id="wrap">

      <!-- Begin page content -->
			<nav>
				<ul class="nav">
					<li><a href="#" id="wildSynth-button"></a> Wild </li>
					<li><a href="#" id="organSynth-button"></a> Keys </li>
					<li><a href="#" id="triangleWah-button"></a> Triangle </li>
					<li><a href="#" id="marimba-button"></a> Marimba </li>
					<li><a href="#" id="pluckedSynth-button"></a> Plucked </li>
					<li><a href="#" id="bassSynth-button"></a> Bass </li>
					<li><a href="#" id="harpChord-button"></a> Harp-Triads </li>
				</ul>
			</nav>
			<canvas id="music">
			</canvas>

</div>

<div id="footer">
  <div class="container text-center" id="footer-text">
		<div id=footer-left>
			<a href=#><p id="footer-logo">What's Groovy?</p> About </a>
		</div>
		Choose Instrument - Circular Buttons || Get Groovy - Mouse Down
  </div>
</div>

<div class="modal modal-about fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About What's Groovy</h4>
      </div>
      <div class="modal-body">
		    <p>
		    	This website was created using node.js. This was inspired by Plink-Dinahmoe Labs.
				</p>
				<p> Developer: Rohan Sahai </p>
				<p> 
					<a href="https://github.com/rsahai91/node-audio-room"> Source Code + More Info </a>
				</p>
		    
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal modal-loading fade" style="top: 30%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Loading!</h4>
      </div>
      <div class="modal-body text-center">
				Please wait while the groovy gods let you through to our servers!
				<br>
				<img src="images/loader.gif" id="loading_image">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	