<!-- <header>
  <h1>Audio Sockets Testing</h1>
</header> -->

<div id="wrap">

      <!-- Begin page content -->
  <div class="container">
			<nav>
				<ul class="nav">
					<li><a href="#" id="wildSynth-button"></a></li>
					<li><a href="#" id="organSynth-button"></a></li>
					<li><a href="#" id="triangleWah-button"></a></li>
					<li><a href="#" id="vibraphone-button"></a></li>
					<li><a href="#" id="pluckedSynth-button"></a></li>
				</ul>
			</nav>
			<canvas id="music">
			</canvas>
  </div>
</div>

<div id="footer">
  <div class="container text-center" id="footer-text">
		Choose Instrument - Circular Buttons || Get Groovy - Mouse Down
  </div>
</div>

	