<!-- <header>
  <h1>Audio Sockets Testing</h1>
</header> -->

	<nav>
		<ul class="nav">
			<li><a href="#" id="wildSynth-button"></a></li>
			<li><a href="#" id="organSynth-button"></a></li>
			<li><a href="#" id="triangleWah-button"></a></li>
			<li><a href="#" id="vibraphone-button"></a></li>
			<li><a href="#" id="pluckedSynth-button"></a></li>
		</ul>
	</nav>

<!-- <div class="btn-group">
  <button type="button" id="wildSynth-button" class="btn btn-danger">Wild Synth</button>
  <button type="button" id="organSynth-button" class="btn btn-success">Organ Synth</button>
  <button type="button" id="triangleWah-button" class="btn btn-warning">Triangle Wah</button>
  <button type="button" id="vibraphone-button" class="btn btn-default">Vibraphone</button>
  <button type="button" id="pluckedSynth-button" class="btn btn-default">Plucker</button>
</div> -->

<canvas id="music">
</canvas>
