<header>
  <h1>Audio Sockets Testing</h1>
</header>

<div class="btn-group">
  <button type="button" id="organ-button" class="btn btn-warning">Organ</button>
  <button type="button" id="wild-synth-button" class="btn btn-danger">Wild Synth</button>
  <button type="button" id="organ-synth-button" class="btn btn-success">Organ Synth</button>
  <button type="button" id="triangle-wah-button" class="btn btn-default">Triangle Wah</button>
  <button type="button" id="vibraphone-button" class="btn btn-default">Vibraphone</button>
  <button type="button" id="plucked-synth-button" class="btn btn-default">Plucker</button>


</div>


<h1 class="text-center">
  What's Groovy?
</h1>

<canvas id="music">
</canvas>

<!-- <div id="chat-messages">
</div>

<form class="send-form">
  <input id="send-message" type="text">
  <input id="send-button" type="submit" value="Send">
</form> -->
<div class="room-listings">
</div>

<div id='my-cursor' class='cursor'>
  <img  class='cursor' src='images/music_note.png'/>
  <h4 id='cursor-nickname'> </h4>
</div>
