body {
	/*background-image: url('/images/headphones.jpg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	min-height: 1000px;
	overflow: hidden;*/
	background-color: #D1F2A5;
}

#chat-messages {
	min-width: 100px;
	width: 80%;
	background: #cecece;
	min-height: 100px;
}

.cursor{
	position:absolute;
	width: 20px;
	height: 40px;
	z-index: -1;
}

#audio-interface{
	width: 500px;
	height: 500px;
	border: 3px solid;
}

#play{
	z-index: 10;
}

#visualizer{
	display: inline-block;
	height: 250px;
	border: solid 5px;
}

.visualizer-bar{
	min-height: 10px;
	background-color: blue;
	width: 20px;
	border: solid 1px;
	float: left;
	/*position: absolute;
	bottom: 0;*/
}
