body {
	background-image: url('/images/headphones.jpg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
/*	min-height: 1000px;*/
	overflow: hidden;

/*	background-color: #F38630;*/
}


#main-title{
	font-size: 90px;
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#name-room-inputs{
	border-radius: 5px;
	border: solid 5px white;
}

.cursor{
	position:absolute;
	width: 20px;
	height: 40px;
	z-index: -1;
}

#current-rooms{
	list-style-type: none;
}

#logo{
	margin: 50px;
}

#footer-logo{
	float: left; 
	font-family: 'Lobster', cursive;
	position: absolute;
	color: white;
}

#audio-interface{
	width: 500px;
	height: 500px;
	border: 3px solid;
}

#play{
	z-index: 10;
}

#visualizer{
	display: inline-block;
	height: 250px;
	border: solid 5px;
}

.visualizer-bar{
	min-height: 10px;
	background-color: blue;
	width: 20px;
	border: solid 1px;
	float: left;
	/*position: absolute;
	bottom: 0;*/
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
		margin-top: 7px;
    display: block;
		border: groove 3px;
		border-color: #E0E4CC;
		border-radius: 10px;
/*    width: 800px;
*/}

/* FROM CSS CIRCULAR NAVBAR DEMO */

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

h1, p, p + p, ul 
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.page-wrap {
  width: 960px;
  margin: 80px auto;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

/*#fbb735 #e98931 #eb403b #b32e37 #6c2a6a #5c4399
#274389 #1f5ea8 #227fb0 #2ab0c5 #39c0b3

We are using #fbb735 #e98931 #eb403b #5c4399 #1f5ea8 #2ab0c5

*/
#wildSynth-button {
  background-image: -webkit-linear-gradient(top, #fbb735, #fbb735); 	
}

#organSynth-button {
  background-image: -webkit-linear-gradient(top, #e98931, #e98931); 	
}

#triangleWah-button {
  background-image: -webkit-linear-gradient(top, #eb403b, #eb403b); 	
}

#vibraphone-button {
  background-image: -webkit-linear-gradient(top, #5c4399, #5c4399); 	
}

#pluckedSynth-button {
  background-image: -webkit-linear-gradient(top, #1f5ea8, #1f5ea8); 	
}

#bassSynth-button {
  background-image: -webkit-linear-gradient(top, #2ab0c5, #2ab0c5); 	
}

#harpChord-button {
  background-image: -webkit-linear-gradient(top, #39c0b3, #39c0b3);	
	/*box-shadow: 0px 3px 8px red, inset 0px 2px 3px #fff;*/
}

.nav a.selected-button:before {
	background: red;
}

.nav a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
	margin-bottom: 15px;
  width: 45px;
  height: 45px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -7px;
  left: -7px;
  bottom: -7px;
  right: -7px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

/*.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
*/
/* From bootstrap sticky footer */

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: black;
	color: white;
}

#footer-text{
	position: relative;
	top: 5px;
}