#chat-messages {
	min-width: 100px;
	width: 80%;
	background: #cecece;
	min-height: 100px;
}

.cursor{
	position:absolute;
	width: 20px;
	height: 40px;
	z-index: -1;
}

#audio-interface{
	width: 500px;
	height: 500px;
	border: 3px solid;
}

#play{
	z-index: 10;
}
